.StatusCards {
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}
.MuiPaper-root.MuiCard-root.StatusList.MuiPaper-elevation1.MuiPaper-rounded {
  margin: 10px;
  width: 6rem;
  height: 6rem;
  background: #d5defd;
  color: #127cd4;
  
}
.active, .MuiPaper-root.MuiCard-root.StatusList.MuiPaper-elevation1.MuiPaper-rounded:hover {
  background-color: #127cd4;
  color: white;
  
}
p.MuiTypography-root.Status_TYPE.MuiTypography-body1{
  font-size: 1rem;
  font-family: "Rubik";
  
  
}
p.MuiTypography-root.Status_COUNT.MuiTypography-body1 {
  font-family: "Rubik";
  float: right;
  font-size: xx-large;
  
}
